parameters:
	checkGenericClassInNonGenericObjectType: false
	treatPhpDocTypesAsCertain: true
	symfony:
		container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
	strictRules:
		disallowedLooseComparison: true
		booleansInConditions: false
		uselessCast: true
		requireParentConstructorCall: true
		disallowedConstructs: false
		overwriteVariablesWithLoop: true
		closureUsesThis: true
		matchingInheritedMethodNames: true
		numericOperandsInArithmeticOperators: true
		strictCalls: true
		switchConditionsMatchingType: true
		noVariableVariables: true
	doctrine:
		objectManagerLoader: tests/object-manager.php